
pokemonwebapp/src/main/resources/application.properties
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/workspace.xml
pokemonwebapp/src/main/resources/application.properties
pokemonwebapp/src/main/resources/application.properties
pokemonwebapp/src/main/resources/application.properties
