<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<h1>About Us</h1>
<button class="btn btn-dark" onclick="window.location.href='http://localhost:8080/home'">Home</button>
<pre>
<p> Trabalho de Grupo</p>
<p> TPSI - VFX 2023/2024</p>
<p> Base de Dados II</p>
    <p><b> Objetivos da aplicação:</b>

    -> Gerir pokemons

    - listar

    - editar

    - mostrar tipos
    associados

    - desativar

    - consultar
</p>
    <p>         João Pedro Costa - 220001295

        Pedro Marques - 220000988

        Rodrigo Passos - 220000051
</p>
</pre>

</body>
</html>