<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container mt-4">
    <h1>About Us</h1>
    <button class="btn btn-dark" onclick="window.location.href='http://localhost:8080/home'">Home</button>
    <div class="row d-flex align-items-center">
        <div class="col-md-6">
            <br>
            <br>
            <br>
            <br>
            <img th:src="@{/img/Pokemon.jpg}" alt="Pokemon" class="img-fluid">
        </div>

        <div class="col-md-6 text-center">
            <br>
            <p> <b>Trabalho de Grupo </b></p>
            <p> TPSI - VFX 2023/2024</p>
            <p> Base de Dados II</p>
            <br>
            <p><b>Elementos do Grupo</b></p>
            <p>João Pedro Costa - 220001295</p>
            <p> Pedro Marques - 220000988</p>
            <p> Rodrigo Passos - 220000051</p>
            <p> Alexandre Guerreiro - 210100515</p>
            <br>
            <p><b> Objetivos da aplicação:</b></p>
            <p>> Gerir pokémons</p>
            <p>- criar</p>
            <p>- listar</p>
            <p>- mostrar tipos associados</p>
            <p>- pesquisar</p>
            <p>- editar</p>
            <p>- desativar / reativar</p>

        </div>
    </div>
</div>
</body>
</html>
