<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Edit Pokemon Types</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<h2>Edit Pokemon Types</h2>

<h3>Pokemon Information:</h3>
<p>ID: <span th:text="${pokemon.idPokemon}"></span></p>
<p>Name: <span th:text="${pokemon.name}"></span></p>

<!-- Formulário para editar tipos do Pokémon -->
<form th:object="${pokemon}" th:action="@{'/pokemon/' + ${pokemon.idPokemon} + '/edit/types'}" th:method="post">

  <h3>Edit Types:</h3>

  <!-- Lista de todos os tipos disponíveis -->
  <label for="allTypes">All Types:</label>
  <select id="allTypes" name="allTypes" multiple="multiple" th:field="*{selectedTypeIds}">
    <option th:each="type : ${allTypes}" th:value="${type.idType}" th:text="${type.name}"></option>
  </select>

  <!-- Lista de tipos associados a um Pokemon -->
  <label for="pokemonTypes">Pokemon Types:</label>
  <select id="pokemonTypes" name="pokemonTypes" multiple="multiple" th:field="*{selectedTypeIds}">
    <option th:each="type : ${pokemonTypes}" th:value="${type.idType}" th:text="${type.name}"></option>
  </select>

  <button class="btn btn-success" type="submit">Save</button>
</form>

</body>
</html>


