<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit Pokémon Types</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <style>

  </style>
</head>
<body>
<div class="banner">
    <img th:src="@{/img/Pokemon-logo.png}" alt="Logo" style="width: 200px;">
    <h1><b>APP</b></h1>
</div>

<header>
  <h2>Edit Pokémon Types</h2>
</header>

<main>
  <section>
    <h3>Pokémon Information:</h3>
    <p>ID: <span th:text="${pokemon.idPokemon}"></span></p>
    <p>Name: <span th:text="${pokemon.name}"></span></p>
  </section>

 <section>
    <form th:object="${pokemon}" th:action="@{'/pokemon/' + ${pokemon.idPokemon} + '/edit/types'}" th:method="post">
      <h3>Edit Types:</h3>
      <!-- <div th:each="pokemonType, iterStat : ${pokemonTypes}">
        <div>
          <label th:for="${'pokemonTypes[' + iterStat.index + '].type.idType'}">Type:</label>
          <select th:id="${'pokemonTypes[' + iterStat.index + '].type.idType'}"
                  th:name="${'pokemonTypes[' + iterStat.index + '].type.idType'}"
                  th:field="${pokemonTypes[__${iterStat.index}__].type.idType}">
            <option th:each="type : ${allTypes}" th:value="${type.idType}" th:text="${type.name}"></option>
          </select>
        </div>

        <div>
          <label th:for="${'pokemonTypes[' + iterStat.index + '].pokemonTypeLevel'}">Level:</label>
          <input th:id="${'pokemonTypes[' + iterStat.index + '].pokemonTypeLevel'}"
                 th:name="${'pokemonTypes[' + iterStat.index + '].pokemonTypeLevel'}"
                 th:field="${pokemonTypes[__${iterStat.index}__].pokemonTypeLevel}" type="text" />
        </div>
      </div>-->

<label for="*{types}"><select id="*{types}" name="*{types}"  >
        <option th:each="i : ${pokemonTypes}" th:value="${i.getName()}" th:text="${i.getName()}">

        </option>
      </select>
      </label>

      <button class="btn btn-success" type="submit">Save</button>
    </form>
  </section>
</main>

</body>
</html>
