<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>PokemonApp</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="banner">
<img th:src="@{/img/Pokemon-logo.png}" alt="Logo" style="width: 200px;">
<h1><b>APP</b></h1>
</div>

<div id="botoesIndex">
    <button th:onclick="window.location.href='/listAllPokemons'">Active Pokemons</button>
    <button th:onclick="window.location.href='/listDisablePokemons'">Disable Pokemons</button>
    <button th:onclick="window.location.href='http://localhost:8080/aboutUs'">About Us</button>
</div>


<div id="image">
    <img th:src="@{/img/Pokemon-banner.png}" alt="Pokemon World">
</div>
</body>
</html>

