<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>PokemonApp</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<h1><b>PokemonApp</b></h1>

<div id="botoesIndex">
    <button th:onclick="window.location.href='/listAllPokemons'">Pokemons</button>
    <button th:onclick="window.location.href='http://localhost:8080/aboutUs'">About Us</button>
</div>


<div id="image">
    <img src="/img/pokemon-banner_1.png" alt="Pokemon World">
</div>
</body>
</html>

