<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pokemons List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="stickyTop" >
    <h1><b>Pokemon List</b></h1>
    <form th:action="@{/search}" method="get">
        <div id="botoesIndex" style="text-align: left; margin-bottom: 20px;">
            <button class="btn btn-dark" onclick="window.location.href='http://localhost:8080/home'">Home</button>
            <button type="submit" class="btn btn-primary">Search</button>
            <input type="text" name="searchName" placeholder="Search by name...">
        </div>
    </form>
</div>

<table>
    <thead class="stickyTable">
    <tr>
        <th>Number</th>
        <th>Name</th>
        <th>HP Score</th>
        <th>Attack Score</th>
        <th>Defence Score</th>
        <th>Special Attack Score</th>
        <th>Special Defence Score</th>
        <th>Speed</th>
        <th>Generation</th>
        <th>Legendary</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pokemon : ${pokemonList}">
        <td th:text="${pokemon.number} ?: 'N/A'"></td>
        <td th:text="${pokemon.name} ?: 'N/A'"></td>
        <td th:text="${pokemon.hpScore} ?: 'N/A'"></td>
        <td th:text="${pokemon.attackScore} ?: 'N/A'"></td>
        <td th:text="${pokemon.defenceScore} ?: 'N/A'"></td>
        <td th:text="${pokemon.specialAttackScore} ?: 'N/A'"></td>
        <td th:text="${pokemon.specialDefenceScore} ?: 'N/A'"></td>
        <td th:text="${pokemon.speed} ?: 'N/A'"></td>
        <td th:text="${pokemon.generation} ?: 'N/A'"></td>
        <td th:text="${pokemon.legendary ? 'Yes' : 'No'}"></td>
        <td>
            <button type="button" class="btn btn-info" data-toggle="modal" th:data-target="'#pokemonModal' + ${pokemon.idPokemon}">
                Types
            </button>
        </td>
        <td>
            <a th:href="@{/pokemon/{id}/edit(id=*{pokemon.idPokemon})}" class="btn btn-primary">Edit</a>
        </td>
        <td>
            <form th:action="@{/pokemon/{id}/activate(id=${pokemon.idPokemon})}" method="post">
                <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to activate this Pokemon?')">
                    Activate
                </button>
            </form>
        </td>

    </tr>
    </tbody>
</table>

<div th:each="pokemon : ${pokemonList}" th:id="'pokemonModal' + ${pokemon.idPokemon}" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Pokémon Details</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p th:text="'Number: ' + ${pokemon.number}"></p>
                <p th:text="'Name: ' + ${pokemon.name}"></p>

                <!-- Mostrar tipos associados -->
                <h3>Types:</h3>
                <ul>
                    <li th:each="typeInfo : ${pokemon.types}">
                        <span th:text="${typeInfo.type.name}"></span>
                        <span th:if="${!#strings.isEmpty(typeInfo.pokemonTypeLevel)}"> (Level: <span th:text="${typeInfo.pokemonTypeLevel}"></span>)</span>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
